<!DOCTYPE html>
<html>
  <head>
    <title>機種グループ登録</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>機種グループ登録</h1>
    <%= render 'form' %>
    <div style="margin-top: 50px;">
      <%= link_to '機種グループ一覧', master_phone_groups_path %>
    </div>
</html>
